

{% extends "registration/base_auth.html" %}
{% load static %}
{% load widget_tweaks %}
{% block auth_login %}
	<div class="container" style="text-align: center;">
        <h6 class="fs-26 p-3" style="color: rgb(239, 213, 255);">
            تقاضای ریست رمز فرستاده شد
        </h6>
        <p class="fs-18 p-3" style="color: white;">
            دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این دستورالعمل‌ها را دریافت کنید.

            اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و پوشهٔ اسپم خود را نیز چک کنید.
        </p>
    </div>
{% endblock %}