{% extends "blog/base.html" %}
{% load humanize %}
{% block content %}

<!-- Blog preview section -->
<section class="py-5">
    <div class="container px-5 my-5">
        <h2 class="text-white">اطلاعات تماس با ما</h2>
        <div class="p-5 text-light">
            <h6 class="lh-base">تلفن : 09363211730</h6>
            <h6 class="lh-base">ادمین ایتا :  <a class="link-info" style="text-decoration: none" href="@modares">@modares</a></h6>
            <h6 class="lh-base">ادمین تلگرام : <a class="link-info" style="text-decoration: none" href="@modares">@modares</a></h6>
            <h6 class="lh-base">ایمیل : <a class="link-info" style="text-decoration: none" href="test@gmail.com">test@gmail.com</a></h6>
            <h6 class="lh-base">آدرس : قم_بلوار جمهوری</h6>
        </div>
    </div>
</section>

{% endblock %}
