{% extends "blog/base.html" %}
{% load humanize %}
{% block content %}
    <section>
        {% if type == 'inpersoncourse' %}
        <audio controls class="mx-auto d-block mb-4" style="width: 700px; margin-top: 60px;">
            <source src="{{ object.voice.url }}" type="audio/ogg">
        </audio>
    
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="{{object.pdf.url}}" class="btn btn-primary">دانلود فایل PDF</a>
            </div>
            <div class="col-auto">
                <a href="{{object.word.url}}" class="btn btn-primary">دانلود فایل Word</a>
            </div>
            <div class="col-auto">
                <span class="btn btn-secondary">تاریخ انتشار: {{object.create|naturaltime}}</span>
            </div>
            <div class="col-auto">
                <span class="btn btn-secondary">
                    برچسب‌ها:
                    {% for tag in object.tag.all %}
                        {{ tag.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </span>
            </div>
            <div class="col-auto">
                <a href="{% url 'E_commerce:add_to_cart' type=type id=object.id %}" class="btn btn-success">افزودن به سبد خرید</a>
            </div>
        </div>
        <div class="box_paragraph">
            <h2 class="title">{{object.title}}</h2><hr>
            <p class="paragraph">{{object.description}}</p>
        </div>
        {% elif type == 'onlinecourse' %}
        <video controls class="mx-auto d-block mb-4">
            <source src="{{ object.film.url }}" type="audio/ogg">
        </video>
    
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="{{object.pdf.url}}" class="btn btn-primary">دانلود فایل PDF</a>
            </div>
            <div class="col-auto">
                <a href="{{object.word.url}}" class="btn btn-primary">دانلود فایل Word</a>
            </div>
            <div class="col-auto">
                <span class="btn btn-secondary">تاریخ انتشار: {{object.create|naturaltime}}</span>
            </div>
            <div class="col-auto">
                <span class="btn btn-secondary">
                    برچسب‌ها:
                    {% for tag in object.tag.all %}
                        {{ tag.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </span>
            </div>
            <div class="col-auto">
                <a href="{% url 'E_commerce:add_to_cart' type=type id=object.id %}" class="btn btn-success">افزودن به سبد خرید</a>
            </div>
        </div>
        <div class="box_paragraph">
            <h2 class="title">{{object.title}}</h2><hr>
            <p class="paragraph">{{object.description}}</p>
        </div>
        {% endif %}

    </section>
{% endblock %}














