body {
    text-align: right;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
}


.portfolio-description {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.portfolio-description h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


.portfolio-description .content {
    text-align: justify; 
    line-height: 1.6; 
    word-wrap: break-word; 
    white-space: pre-line; 
}
