* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.set_nav {
  margin: 5px 40px 5px 40px;
}

/* .......................................................................................... */

.navbar-nav {
  display: flex;
  justify-content: space-around;
}

.nav-item {
  position: relative;
}

.nav-link {
  display: block;
  color: #fff;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-item:hover .nav-link {
  background-color: #3498db;
}

/* Dropdown styling */
.submenu {
  border-radius: 7px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; /* این باعث می‌شود که عرض زیرمجموعه‌ها به اندازه لینک والد باشد */
  background-color: #1f5274;
  display: none;
  z-index: 1000;
  padding: 0; /* حذف پدینگ */
  list-style-type: none; /* حذف نقطه‌های لیست */
}

.submenu li {
  width: 100%;
}

.submenu a {
  padding: 1em;
  display: block;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.submenu a:hover {
  background-color: #2980b9;
}

.nav-item:hover .submenu {
  display: block;
}

.form-control {
  width: 150px;
  margin-left: -90px;
}


.cart-icon {
  font-size: 17px;

}






/* 
.navbar-custom {
  background-color: #0056b3;
} */

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 18px;
} */

.navbar-nav .nav-item .nav-link:hover {
  color: #ffcc00;
}
