{% load static %}
{% load base_tags %}
<!DOCTYPE html>
<html lang="fa">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon--> 
        <link rel="icon" type="image/x-icon" href="" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" /> -->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'blog/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'E_commerce/css/view_cart.css' %}" rel="stylesheet" />
        <link href="{% static 'blog/css/multimedia.css' %}" rel="stylesheet" />
        <link href="{% static 'blog/css/movie_voice.css' %}" rel="stylesheet" />
        <link href="{% static 'blog/css/fa_styles.css' %}" rel="stylesheet" />
        <link href="{% static 'blog/css/nav.css' %}" rel="stylesheet" />
        <link href="{% static 'blog/css/alphabet.css' %}" rel="stylesheet" />
        <link href="{% static 'blog/css/footer.css' %}" rel="stylesheet" />
        <link href="{% static 'blog/css/details.css' %}" rel="stylesheet" />
        <link href="{% static 'blog/css/slider_styles.css' %}" rel="stylesheet" />
        <link href="{% static 'blog/css/between_nav_body.css' %}" rel="stylesheet" />
        <!-- slider box -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">  
        
    </head>
    <body class="container p-4 my-5 rounded">
      <div class="d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="{% url 'blog:home' %}">
            <img src="{% static 'blog/images/0333.png' %}" class="img-heder" style="margin-bottom: 10px;" alt="">
        </a>
        <h6 class="p-2" style="color: white;">{{user.username}}</h6>
    </div>
        <div>
            <main>
                <!-- Navigation-->

                {% category_nav %}
    
                <!-- page search -->
                {% block search %}
                {% endblock %}
                <!-- list all book -->
                {% block content %}
                {% endblock %}
                <!-- page home -->
                {% block main %}
                {% endblock %}
    
    
                <!-- Testimonial section-->
                <div class="py-5 bg-light" id="link_eitaa">
                    <div class="container px-5 my-5">
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-10 col-xl-7">
                                <div class="text-center">
                                    <div class="fs-4 mb-4 special-titles">اگر علاقه‌مند هستید تا آخرین اخبار سایت ما را بروز دریافت کنید به کانال ما بپیوندید</div>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a href="https://eitaa.com/tasnimnews"><img class="rounded-circle me-3" src="{% static 'blog/images/Eitaa-vector-logo.png' %}" height="60px" width="60px" alt="..." /></a>
                                        <a href="https://eitaa.com/tasnimnews"><img class="rounded-circle me-3" src="{% static 'blog/images/instagram.webp' %}" height="60px" width="60px" alt="..." /></a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            
        </div>

        <!-- Footer-->
        <footer class="custom-footer">
            <div class="custom-container" style="border-radius: 7px;">
              <div class="custom-row">
                <div class="custom-column">
                  <h5>آثار مکتوب</h5>
                  <ul>
                    <li><a  class="link-light text-decore" style="text-decoration: none" href="{% url 'blog:articles' %}">مقالات</a></li>
                    <li><a  class="link-light text-decore" style="text-decoration: none" href="{% url 'blog:books' %}">کتاب ها</a></li>
                    <li><a  class="link-light text-decore" style="text-decoration: none" href="{% url 'blog:biography' %}">زندگی نامه</a></li>
                  </ul>
                </div>
                <div class="custom-column">
                  <h5>دروه ها</h5>
                  <ul>
                    <li><a  class="link-light text-decore" style="text-decoration: none" href="{% url 'E_commerce:inpersoncourses' %}">دوره حضوری</a></li>
                    <li><a  class="link-light text-decore" style="text-decoration: none" href="{% url 'E_commerce:onlincourses' %}">دوره آنلاین</a></li>
                    <li><a  class="link-light text-decore" style="text-decoration: none" href="{% url 'E_commerce:pamphlets' %}">جزوه ها</a></li>
                  </ul>
                </div>
                <div class="custom-column">
                  <h5>چندرسانه‌ای</h5>
                  <ul>
                    <li><a  class="link-light text-decore" style="text-decoration: none" href="{% url 'blog:voices' %}">صوتی</a></li>
                    <li><a  class="link-light text-decore" style="text-decoration: none" href="{% url 'blog:shortsounds' %}">کلیپ صوتی کوتاه</a></li>
                    <li><a  class="link-light text-decore" style="text-decoration: none" href="{% url 'blog:movies' %}">کلیپ تصویری</a></li>
                    <li><a  class="link-light text-decore" style="text-decoration: none" href="{% url 'blog:quoteimages' %}">تصاویر</a></li>
                  </ul>
                </div>
                <div class="custom-column">
                  <h5>نوبت شما</h5>
                  <ul>
                    <li><a  class="link-light text-decore" style="text-decoration: none" href="{% url 'blog:about_us' %}">درباره ما</a></li>
                    <li><a  class="link-light text-decore" style="text-decoration: none" href="{% url 'blog:contact_information' %}">راه های ارتباطی</a></li>
                    <li><a  class="link-light text-decore" style="text-decoration: none" href="{% url 'blog:work_with_us' %}">همکاری با ما</a></li>
                  </ul>
                </div>
              </div><hr>
              <h6>استفاده از مطالب این پایگاه با ذکر منبع بلامانع است.</h5>
          </footer>
          
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'blog/js/scripts.js' %}"></script>
        <!-- slider box -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script>
            var swiper = new Swiper('.swiper-container', {
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },
                loop: true,
                spaceBetween: 10,
                centeredSlides: false,
                // تنظیمات ریسپانسیو
                breakpoints: {
                    // وقتی صفحه نمایش بزرگتر از 1024 پیکسل است
                    1024: {
                        slidesPerView: 3,
                        spaceBetween: 10,
                    },
                    // وقتی صفحه نمایش بزرگتر از 768 پیکسل است
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 10,
                    },
                    // وقتی صفحه نمایش کوچکتر از 768 پیکسل است
                    0: {
                        slidesPerView: 1,
                        spaceBetween: 10,
                    }
                }
            });

        </script>
        <script>
            setTimeout(function() {
                document.getElementById('payment-message').style.display = 'none';
            }, 7000); // مخفی کردن پیام پس از 7 ثانیه
        </script>
        <script>
          document.addEventListener('DOMContentLoaded', function() {
              const successMessage = document.getElementById('success-message');
              if (successMessage) {
                  successMessage.style.display = 'block';
                  setTimeout(() => {
                      successMessage.style.display = 'none';
                  }, 5000);
              }
          });
      </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        
    </body>
</html>
