{% extends "blog/base.html" %}
{% load humanize %}
<!-- {% load static %} -->
{% block content %} 
            
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder" id="header_note">مکتوبات</h2>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row gx-5">
                            {% for book in books %}
                                <div class="col-lg-4 mb-5">
                                    <div class="card h-100 shadow border-0">
                                        <img class="card-img-top img-fluid custom-img" src="{{ book.img.url }}" alt="..." />
                                        <div class="card-body p-4">
                                            <a class="text-decoration-none link-dark stretched-link" href="{% url 'blog:content_detail' type='book' pk=book.pk %}">
                                                <h5 class="card-title mb-3">{{ book.title }}</h5>
                                            </a>
                                            <p class="card-text mb-0">{{ book.description|truncatewords:30|safe }}</p>
                                        </div><hr>
                                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                            <div class="d-flex align-items-end justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <!-- <div class="text-muted">{{ book.publish }} &middot; 6 min read</div> -->
                                                    <div class="small">
                                                        <div class="text-muted">تاریخ انتشار : {{ book.create|naturaltime }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="pagination">
                            <ul class="pagination">
                                {% for page in page_obj.paginator.page_range %}
                                <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </main>
{% endblock %}
