 <nav class="row navbar-expand-lg navbar-custom">
    <div class="container px-5">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item nab_margin">
            <a class="set_nav nav-link fa-solid--home" style="margin-top: 15px;" href="{% url 'blog:home' %}"></a>
          </li>
          {% for category in categories %}
            {% if category.parent == None %}
              <li class="nav-item nab_margin">
                <a class="set_nav nav-link" href="{{category.url}}">{{category.title}}</a>
                {% if category.children.all %}
                  <ul class="submenu">
                    {% for cat in category.children.all %}
                    <li><a href="{{ cat.url }}">{{cat.title}}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
          <li class="nav-item nab_margin">
            <a class="set_nav nav-link" href="{% url 'account:login' %}">ثبت نام/ ورود</a>
          </li>
        </ul>
        <!-- Search form -->
        <div class="">
          <form class="d-flex" action="{% url 'blog:search' %}">
            <input type="text" name="query" class="form-control" placeholder="جستجو...!">
            <button class="btn btn-success">جستجو</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
  
