{% extends "blog/base.html" %}
<!-- {% load static %} -->
{% block content %} 
            
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder" id="header_note">کلیپ ها</h2>
                            </div>
                        </div>
                    </div><hr style="color: white;">
                    <!-- div container -->
                    {% for movie in movies %}
                    <a href="{% url 'blog:detail_multimedia' type='movie' pk=movie.pk %}" style="color: white; text-decoration: none !important;">
                     <div class="row fix_clip">
                        <div class="d-flex box_movie">
                                <h4 class="tag_title">{{ movie.title }}<b>:</b></h4>
                                <p class="tag_description">{{ movie.description|truncatewords:6|safe }}</p>
                            <div class="time_create">(مدت زمان : {{movie.duration}})</div>
                            <img class="custom_imgs" src="{% static 'blog/images/logo_film.webp' %}" alt="..." />
                        </div>
                    </div>
                    </a>
                     {% endfor %}
                    <hr style="color: white;">
                    <div class="pagination">
                        <ul class="pagination">
                            {% for page in page_obj.paginator.page_range %}
                            <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
        </main>
{% endblock %}