{% extends "blog/base.html" %}
{% load humanize %}
{% load base_tags %}
{% block content %}
    <!-- Blog preview section-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="fw-bolder" id="header_note">صوت و تصویر</h2>
                </div>
            </div>

            <!-- لیست محصولات -->
            {% for multimedia in multimedias %}
            <div class="row boxes mt-4">
                <div class="d-flex flex-column flex-md-row box_movie align-items-start">
                    <h4 class="tag_title">{{ multimedia.title }}<b>:</b></h4>
                    <p class="tag_description_ww ms-md-3">{{ multimedia.description|truncatewords:14|safe }}</p>
                    <div class="time_create_ww ms-md-3">{{ multimedia.create|naturaltime }}</div>

                    <!-- لینک به دیتیل محصول -->
                    <div class="ms-md-3 mt-2 mt-md-0">
                        {% if multimedia|isinstance_of:"voice" %}
                            <a href="{% url 'blog:detail_multimedia' 'voice' multimedia.id %}" class="btn btn-success">مشاهده جزئیات</a>
                        {% elif multimedia|isinstance_of:"shortsound" %}
                            <a href="{% url 'blog:detail_multimedia' 'shortsound' multimedia.id %}" class="btn btn-success">مشاهده جزئیات</a>
                        {% elif multimedia|isinstance_of:"movie" %}
                            <a href="{% url 'blog:detail_multimedia' 'movie' multimedia.id %}" class="btn btn-success">مشاهده جزئیات</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- حذف خط جداکننده -->
            <div class="pagination mt-5">
                <ul class="pagination">
                    {% for page in page_obj.paginator.page_range %}
                    <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
