{% extends "blog/base.html" %}
<!-- {% load static %} -->
{% block content %} 
            
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder" id="header_note">کلیپ ها</h2>
                            </div>
                        </div>
                    </div><hr style="color: white;">
                    <!-- div container -->
                    {% for multimedia in multimedias %}
                    {% comment %} <a href="{% url 'blog:detail' multimedia.id %}" style="text-decoration: none;"> {% endcomment %}
                     <div class="row boxes">
                        <div class="d-flex box_movie">
                                <h4 class="tag_title">{{ multimedia.title }}<b>:</b></h4>
                                <p class="tag_description_ww">{{ multimedia.description|truncatewords:15|safe }}</p>
                            <div class="time_create_ww">{{multimedia.publish}}</div>
                        </div>
                    </div>
                    </a>
                     {% endfor %}
                    <hr style="color: white;">
                    <div class="pagination">
                        <ul class="pagination">
                            {% for page in page_obj.paginator.page_range %}
                            <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
        </main>
{% endblock %}





