{% extends "blog/base.html" %}
<!-- {% load static %} -->
{% block content %} 
            
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder" style="margin-bottom: 25px;" id="header_note">تصویر نوشته</h2>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row gx-5">
                            {% for image in quoteimages %}
                            <div class="col-lg-4 mb-5">
                                <div class="border-0">
                                    <a href="{{ image.img.url }}">
                                        <img class="card-img-top img-fluid custom-img tag_img" src="{{ image.img.url }}" alt="..." />
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="pagination">
                            <ul class="pagination">
                                {% for page in page_obj.paginator.page_range %}
                                <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </main>
{% endblock %}
