{% extends "blog/base.html" %}
<!-- {% load static %} -->
{% block search %}
            
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder" id="header_note">مکتوبات</h2>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row gx-5">
                            {% for query in querys %}
                                <div class="col-lg-4 mb-5">
                                    <div class="card h-100 shadow border-0">
                                        <img class="card-img-top img-fluid custom-img" src="{{ query.img.url }}" alt="..." />
                                        <div class="card-body p-4">
                                            <a class="text-decoration-none link-dark stretched-link" href="#">
                                                <h5 class="card-title mb-3">{{ query.title }}</h5>
                                            </a>
                                            <p class="card-text mb-0">{{ query.description|truncatewords:30|safe }}</p>
                                        </div>
                                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                            <div class="d-flex align-items-end justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <!-- <div class="text-muted">{{ book.publish }} &middot; 6 min read</div> -->
                                                    <div class="small">
                                                        <div class="text-muted">تاریخ انتشار : {{ query.publish }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                                    </div><div class="row gx-5">
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="pagination">
                            <a href="#">&laquo;</a>
                            <a href="#">1</a>
                            <a class="active" href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">&raquo;</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
{% endblock %}
