{% extends "blog/base.html" %}
{% load humanize %}
{% load base_tags %}
{% block search %}
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder my-3" id="header_note">نتایج جستجو برای "{{ query_search }}"</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row gx-5">
                {% for result in search_results %}
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <div class="card-body p-4">
                                {% with result|specify_url as dynamic_url %}
                                    <a href="{% url dynamic_url type=result|get_model_type pk=result.pk %}" class="btn btn-primary mt-3">
                                        <h5 class="card-title mb-3">{{ result.title }}</h5>
                                    </a>
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
