{% extends "blog/base.html" %}
{% load humanize %}
{% load base_tags %}
{% block content %}
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="fw-bolder" id="header_note">مکتوبات</h2>
                </div>
            </div>

            <!-- لیست محصولات -->
            {% for writtenwork in writtenworks %}
            <div class="row boxes mt-4">
                <div class="d-flex flex-column flex-md-row box_movie align-items-start">
                    <h4 class="tag_title">{{ writtenwork.title }}<b>:</b></h4>
                    <p class="tag_description_ww ms-md-3">{{ writtenwork.description|truncatewords:14|safe }}</p>
                    <div class="time_create_ww ms-md-3">{{ writtenwork.create|naturaltime }}</div>

                    <!-- لینک به دیتیل محصول -->
                    <div class="ms-md-3 mt-2 mt-md-0">
                        {% if writtenwork|isinstance_of:"article" %}
                            <a href="{% url 'blog:content_detail' 'article' writtenwork.id %}" class="btn btn-success">مشاهده جزئیات</a>
                        {% elif writtenwork|isinstance_of:"book" %}
                            <a href="{% url 'blog:content_detail' 'book' writtenwork.id %}" class="btn btn-success">مشاهده جزئیات</a>
                        {% elif writtenwork|isinstance_of:"biography" %}
                            <a href="{% url 'blog:content_detail' 'biography' writtenwork.id %}" class="btn btn-success">مشاهده جزئیات</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- حذف خط جداکننده -->
            <div class="pagination mt-5">
                <ul class="pagination">
                    {% for page in page_obj.paginator.page_range %}
                    <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
